.login-container {
    display: flex;
    height: 100vh;

    .logo-container {
        display: flex;
        flex: 0.6;
        background-color: #72b198;
        align-items: center;
        padding-top: 10%;
        flex-direction: column;
       
       
        .logo {
            color: white;
            font-size: 4rem;
            margin: 0;
        }

        .tagline {
            margin: 1.5rem;
            color: #FFFDD0
        }

        .social-container {
            margin-top: 40%;
            .social-icons {
                margin: 0 0.6rem;
                cursor: pointer;
                border-radius: 20px;
            }
        }
    }


    .input-container {
        display: flex;
        flex: 0.4;
        
        padding-top: 10%;
        align-items: center;
        flex-direction: column;

        .login-label {
            
        }

        .auth-button {
            margin: 2rem 0.6rem;
            padding: 0.5rem 3rem;
            background-color: #5a8a86;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        .signup-label {
            cursor: pointer;
            color: #5a8a86;
            font-size: 0.9rem;
            margin: 0;
        }
    }
}

@media (max-width:1000px){
    .login-container {
        flex-direction: column;
       
        .logo-container {
            flex: 0.13;
            padding: 1rem;
            justify-content: center;
            
            .logo {
                font-size: 2.5rem;
                margin: 0;
            }
            .tagline {
                margin: 0.5rem;
                font-size: 0.9rem;
                
            }

            .social-container {
                margin-top: 10%;
                .social-icons {
                    margin: 0 0.6rem;
                    cursor: pointer;
                    border-radius: 20px;
                }
            }
        }

        .input-container {
            float: 0.8;
            padding-top: 5%;
            .login-label {
                margin: 0;
                margin-top: 20px;
                
            }
        }
    }
}