.doctor-onboard-container {
    display: flex;
    .illustration {
        height: 100vh;
    }
    .onboard-forms {
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-label {
            font-weight: bold;
            color: #222;
            text-align: center;
            font-size: 1.8rem;
            margin-top: 9rem;
        }
        .onboard-input-container {
            display: flex;
            flex-direction: column;
            width: 80%;
            .login-button {
                margin-top: 2rem;
                align-self: center;
            }

            .signup-button {
                cursor: pointer;
                align-self: center;
                

            }
        }
    }
}